.colorsContainer {
  margin-block: 20px;
  border-top: 1px solid rgb(229, 229, 229);
}

.colorLabel {
  font-weight: 300;
  font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
  line-height: 100%;
  color: rgba(0, 0, 0, 0.6);
  padding-block-start: 10px;
}

.colorOption {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-block-start: 15px;
}

.colorItem {
  inline-size: 37px;
  block-size: 37px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

.colorItemSelected {
  position: relative;
}

.colorItemSelected::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  inline-size: calc(100% + 8px);
  block-size: calc(100% + 8px);
  border-radius: 50%;
  border: 1px solid #000;
  transition: outline 0.3s ease;
}
