.colorsContainer {
  margin-block: 20px;
  border-top: 1px solid rgb(229, 229, 229);
}

.colorLabel {
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.6);
  padding-block-start: 10px;
}

.colorOption {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-block-start: 15px;
}

.colorItem {
  inline-size: 37px;
  block-size: 37px;
  border-radius: 50%;
}
