.orderSummary {
  border-radius: var(--border-radius-secondary);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  inline-size: clamp(358px, 50vw, 715px);
  box-sizing: border-box;
}

.productList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.productItem:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.productInfo {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-block-end: 20px;
}

.imageWrapper {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-secondary);
  inline-size: clamp(88px, 22vw, 90px);
  block-size: clamp(88px, 22vw, 89px);
}

.productImage {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  border-radius: 9px;
}

.productDetails {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}

.productTitleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
}

.productTitle {
  font-weight: 500;
  font-style: Bold;
  // font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  font-size: 20px;
  line-height: 100%;
  vertical-align: middle;
}

.deleteIcon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.productSize {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
}

.productSizeValue {
  color: rgba(0, 0, 0, 0.5);
}

.productColor {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
}

.productColorValue {
  color: rgba(0, 0, 0, 0.5);
}

.priceQuantityRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  inline-size: 100%;
}

.productPrice {
  font-weight: 500;
  font-style: Bold;
  // font-size: clamp(1.25rem, 1.1786rem + 0.3571vw, 1.5rem);
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
}

.quantityControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  inline-size: clamp(103px, 25vw, 126px);
  block-size: clamp(31px, 8vw, 30px);
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-primary);
}

.quantityControl button {
  cursor: pointer;
  font-weight: 500;
  font-style: Bold;
  font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  line-height: 100%;
  vertical-align: middle;
  color: rgba(0, 0, 0, 1);
}

@media (width <= 880px) {
  .orderSummary {
    inline-size: 100%;
  }
}
