.addToCart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
  inline-size: clamp(236px, 40vw, 400px);
  block-size: clamp(44px, 48px, 52px);
  border-radius: var(--border-radius-primary);
  background-color: black;
  color: white;
}
