.bg {
  background: var(--color-bg-secondary);
  display: flex;
  justify-content: center;
}

.footer {
  max-width: 1240px;
  margin-inline: clamp(16px, 0.5714rem + 3.8095vw, 100px);
  padding-block: 50px 80px;
}

.footerBlock {
  display: flex;
  flex-wrap: wrap;
  column-gap: clamp(1.5rem, -0.5661rem + 8.4762vw, 7.0625rem);
  row-gap: clamp(2.5rem, 2.2679rem + 0.9524vw, 3.125rem);
  color: var(--color-text-60);
}

.blockLogo {
  flex: 1 1 5%;

  .text {
    padding-block-start: clamp(0.875rem, 0.6196rem + 1.0476vw, 1.5625rem);
    padding-block-end: clamp(1.25rem, 0.9018rem + 1.4286vw, 2.1875rem);
    font-size: var(--font-size-primary-xs);
    line-height: clamp(
      var(--font-line-primary-xs-4),
      1.2036rem + 0.1905vw,
      var(--font-line-primary-xs-5)
    );
  }

  .social {
    display: flex;
    gap: 12px;

    &Link {
      width: 28px;
      height: 28px;
      border: 1px solid var(--color-dark-secondary-20);
      border-radius: 50px;
      background-color: var(--color-bg-primary);
      color: var(--color-text-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;
    }

    &Link:hover {
      background-color: var(--color-bg-dark);
      border-color: var(--color-bg-dark);
      color: var(--color-text-on-dark);
    }

    &Icon {
      width: 14px;
      height: 14px;
    }
  }
}

.blockLinks {
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 24px;

  .link {
    width: clamp(9.3125rem, 10.1696rem + -0.9524vw, 9.9375rem);
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 100%;
  row-gap: 16px;
  border-top: 1px solid var(--color-dark-secondary-10);
  text-align: center;

  .textCo {
    font-size: var(--font-size-primary-xs);
    padding-block-start: clamp(1rem, 0.7911rem + 0.8571vw, 1.5625rem);
  }

  .payment {
    display: flex;
    gap: 12px;
    align-self: flex-end;

    &Card {
      width: 46px;
      height: 30px;
      background-color: var(--color-bg-primary);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease;
    }
  }
}

@media (max-width: 768px) {
  .bottom {
    flex-direction: column;
  }
}

@media (max-width: 664px) {
  .blockLinks {
    flex: 1 1 100%;
  }
}

@media (hover: none) {
  .socialLink:active {
    background-color: var(--color-bg-dark);
    border-color: var(--color-bg-dark);
    color: var(--color-text-on-dark);
  }
}