.container {
  border-radius: 40px;
  background: var(--color-bg-secondary);
  margin-block-end: 92px;
  padding: 5%;
}

.title {
  text-align: center;
  font-size: clamp(1.875rem, 1.5536rem + 1.6071vw, 3rem);
  line-height: 100%;
  text-align: center;
  margin-block-end: 60px;
}

.browse-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #f3f3f3;
  border-radius: 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.item {
  background: #fff;
  border-radius: 12px;
  padding: 40px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  block-size: clamp(11.25rem, 9.2857rem + 9.8214vw, 18.125rem);
  overflow: hidden;
}

.label {
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(1.375rem, 1.125rem + 1.25vw, 2.25rem);
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  z-index: 1;
}

.imageCasual {
  width: 100%;
  height: 100%;
  margin-inline-start: 50%;
  scale: 2.5;
}

.imageFormal {
  width: 100%;
  height: 100%;
  margin-inline-start: 36%;
  scale: 2.4;
}

.imageParty {
  margin-inline-start: 25%;
  scale: 2.2;
}

.imageGym {
  width: 100%;
  height: 100%;
  margin-inline-start: 38%;
  scale: 2.5;
}

.casual {
  grid-column: span 2;
}

.formal {
  grid-column: span 3;
}

.party {
  grid-column: span 3;
}

.gym {
  grid-column: span 2;
}

@media (width <= 650px) {
  .container {
    border-radius: 20px;
  }

  .title {
    font-family: Integral CF;
    font-weight: 700;
    font-style: Bold;
    text-align: center;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  .imageParty {
    margin-inline-start: 28%;
    scale: 2;
  }

  .imageGym {
    margin-inline: 50%;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .casual {
    grid-column: span 1;
  }

  .formal {
    grid-column: span 1;
  }

  .party {
    grid-column: span 1;
  }

  .gym {
    grid-column: span 1;
  }
}
