.inputWrapper {
  display: flex;
  width: 100%;
  background: var(--color-bg-secondary);
  border-radius: var(--border-radius-primary);

}

.icon {
  padding-right: 12px;
}

.icon > svg {
  color: var(--color-text-40);
  min-width: 24px;
  width: 100%;
  max-width: 24px;
  height: 100%;
}

.input {
  width: inherit;
}

.input:focus {
  outline: none;
}

@media (max-width: 460px) {
  .icon > svg {
    min-width: 20px;
    max-width: 20px;
  }
}