.header {
  padding: 24px;
  align-items: center;
  justify-content: space-around;
  top: 0;

  &Block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
  }

  &Content {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.burgerIcon {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.iconsBlock {
  display: flex;
  gap: 16px;
}

.profileIcon,
.cartIcon,
.searchIcon,
.mobileSearchIcon,
.burgerIcon {
  block-size: 30px;
  inline-size: 30px;
  cursor: pointer;
}

.mobileSearchIcon {
  display: none;
}

// Медиазапросы для иконок профиля, корзины, поиска и бургер-кнопки

@media (hover: hover) {
  .profileIcon:hover,
  .cartIcon:hover,
  .searchIcon:hover .mobileSearchIcon:hover,
  .burgerIcon:hover {
    opacity: 0.5;
  }
}

@media (hover: none) {
  .profileIcon:active,
  .cartIcon:active,
  .searchIcon:active .mobileSearchIcon:active,
  .burgerIcon:active {
    opacity: 0.5;
  }
}

@media (max-width: 1195px) {
  .mobileSearchIcon {
    display: block;
  }
}

@media (width <=650px) {
  .mobileSearchIcon {
    display: none;
  }

  .headerNav {
    display: none;
  }

  .burgerIcon {
    display: block;
  }
}
