.header {
  padding: 24px;

  &Block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.iconsBlock {
  display: flex;
  gap: 16px;
}

.profileIcon, .cartIcon, .searchIcon {
  block-size: 24px;
  inline-size: 24px;
  cursor: pointer;
}

// Медиазапросы для иконок профиля, корзины и поиска

@media (hover: hover) {
  .profileIcon:hover, .cartIcon:hover, .searchIcon:hover {
    opacity: 0.5;
  }
}

@media (hover: none) {
  .profileIcon:active, .cartIcon:active, .searchIcon:active {
    opacity: 0.5;
  }
}
