.bg {
  background-image: linear-gradient(transparent 50%, var(--color-bg-secondary) 50%);
  display: flex;
  justify-content: center;
}

.subscribe {
  max-width: 1240px;
  width: 100%;
  margin-inline: clamp(16px, 0.5714rem + 3.8095vw, 100px);
  border-radius: var(--border-radius-secondary);
  background: var(--color-bg-dark);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding-inline: clamp(1.5rem, 0.5714rem + 3.8095vw, 4rem);
  padding-block: clamp(2rem, 1.9071rem + 0.381vw, 2.25rem);
  width: 100%;
}

.subscribeTitle {
  max-width: 551px;
  min-width: 297px;
}

.subscribeForm {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.7036rem + 0.1905vw, 0.875rem);
  max-width: 349px;
  width: 100%;
}

.emailInput {
  padding: 10px 16px;
}

.subscribeBtn {
  padding-block: 12px;
  font-weight: var(--font-weight-medium);
}


@media (max-width: 1164px) {
  .container {
    justify-content: center;
  }

  .subscribeTitle {
    text-align: center;
  }
}

@media (max-width: 460px) {
  .subscribeTitle {
    text-align: left;
  }
}