.filterColors {
  display: flex;
  flex-direction: column;
  padding-block-start: 20px;
  margin-block-start: 20px;
  border-block-start: 1px solid var(--color-border-primary);
}

.filterColorsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterColorsHeader:hover {
  cursor: pointer;
  opacity: 0.6;
}

.filterColorsTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  vertical-align: middle;
}

.colorsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(37px, 1fr));
  gap: 5px;
  margin-block-start: 20px;
  padding-inline-start: 5px;
}

.colorListItem {
  inline-size: 37px;
  border-radius: var(--border-radius-full);
  aspect-ratio: 1/1;
  border: 2px solid #00000033;
}

.colorListItem:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition:
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    border 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.colorGreen {
  background-color: var(--color-filters-1);
}

.colorRed {
  background-color: var(--color-filters-2);
}

.colorYellow {
  background-color: var(--color-filters-3);
}

.colorOrange {
  background-color: var(--color-filters-4);
}

.colorAqua {
  background-color: var(--color-filters-5);
}

.colorBlue {
  background-color: var(--color-filters-6);
}

.colorPurple {
  background-color: var(--color-filters-7);
}

.colorPink {
  background-color: var(--color-filters-8);
}

.colorWhite {
  background-color: var(--color-primary);
}

.colorBlack {
  background-color: var(--color-dark-primary);
}
