.main {
  flex-grow: 1;
}

.newArrivals {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  align-items: center;
  max-inline-size: 1440px;
  padding-inline: 5%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  margin-inline: auto;
}

.topSelling {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  align-items: center;
  max-inline-size: 1440px;
  padding-inline: 5%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  margin-inline: auto;
}

.dressStyle {
  margin-top: 90px;
  margin-inline: auto;
  max-inline-size: 1440px;
  padding-inline: 5%;
}

@media (width <=580px) {
  .newArrivals,
  .topSelling,
  .dressStyle {
    padding-inline: 0;
  }
}
