.filterSizes {
  display: flex;
  flex-direction: column;
  padding-block-start: 20px;
  margin-block-start: 20px;
  border-block-start: 1px solid var(--color-border-primary);
}

.filterSizesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterSizesHeader:hover {
  cursor: pointer;
  opacity: 0.6;
}

.filterSizesTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  vertical-align: middle;
}

.sizeList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  margin-block-start: 20px;
}

.sizeListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-primary);
  block-size: 39px;
  flex: 0 0 auto;
  background-color: var(--color-secondary);
  white-space: nowrap;
  padding: 5px 15px;
}

.sizeListItemText {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  color: var(--color-dark-secondary-60);
}
