.advantageList {
  display: flex;
  width: fit-content;
  justify-content: center;
  flex-wrap: wrap;
}

.advantage {
  display: grid;
  padding-inline: 32px;
  border-right: 1px solid var(--color-border-primary);

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-right: none;
    padding-right: 0;
  }
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1.375rem, 1.2321rem + 0.7143vw, 1.875rem);
  line-height: 52px;
  color: var(--color-dark-primary);
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
  line-height: 22px;
  color: var(--color-dark-secondary-60);
}
