.container {
  margin-block-end: 92px;
}

.header {
  display: flex;
  flex-direction: row;
  max-inline-size: 1440px;
  justify-content: space-between;
  margin-inline: auto;
  align-items: center;
  padding-inline: 5%;
}

.title {
  font-family: Integral CF;
  font-weight: 700;
  font-size: clamp(1.875rem, 1.5536rem + 1.6071vw, 3rem);
  line-height: 100%;
  vertical-align: middle;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.controlIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.controlIcon:hover {
  opacity: 0.5;
}

.embla {
  position: relative;
  overflow: hidden;
  padding-inline: 10%;
  margin-top: 40px;
}

.embla::before {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), transparent);
  backdrop-filter: blur(4px);
}

.embla::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.9), transparent);
  backdrop-filter: blur(4px);
}

.embla__container {
  display: flex;
  align-items: stretch;
}

.embla__slide {
  flex: 0 0 auto;
  box-sizing: border-box;
  background: white;
  border-radius: 20px;
  padding: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
  border: 1px solid #f0f0f0;
  margin-inline-end: 20px;
  max-width: 400px;
  transition: filter 0.4s ease;
}

.embla__slide.blurred {
  filter: blur(4px);
  opacity: 0.5;
}

.slideReviewerContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-block-start: 10px;
}

.slideText {
  font-size: clamp(0.9375rem, 0.8482rem + 0.4464vw, 1.25rem);
  line-height: 1.5;
  margin: 16px 0 12px 0;
  color: #333;
}

.slideReviewer {
  font-weight: 600;
  font-size: clamp(0.9375rem, 0.8482rem + 0.4464vw, 1.25rem);
  line-height: 22px;
}

@media (max-width: 768px) {
  .embla {
    padding-inline: 5%;
  }

  .embla__slide {
    min-width: calc(100% - 20px);
  }

  .embla::before,
  .embla::after {
    width: 10%;
  }
}

.slideImage {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
}

.btn {
  padding: 8px 12px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  border-radius: 6px;
}
